html, body, div, span, applet, object, iframe,
blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,dl, dt, dd,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;	
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
h1 
{
font-size:1.8em
}
h2
{
font-size:1.6em
}
h3
{
font-size:1.4em
}
h4
{
font-size:1.2em
}
h5
{
font-size:1em
}
h6
{
font-size:.8em
}
p
{
font-size:1em
}
li
{
font-size:1em
}
body
{
background-color: #3B5F7B;
min-width:1200px;
line-height: 100%;
}
div.main
{
font-family: arial,sans-serif;
font-size: 90%;
position: relative;
margin: 33px auto;
width: 1000px; 
height: 2100px;
padding: 0px;
}
div.blackborder
{
position: absolute;
left: -10px;
margin-top: -8px;
width: 1000px;
height: 1980px;
padding: 0px;
border-style:solid;
border-color:black;
border-width:10px;
pointer-events:none; 
z-index: 91;
}
div.whitebackground
{
position: absolute;
left: 0px;
top: 2px;
width: 1000px; 
height: 1985px;
padding: 0px;
background-color: white;
}
div.banner
{
position: absolute;
top: 0px;
left: 0px;
width: 1000px;
height: 250px;
background-image: url('/layout/banner2.jpg');
background-repeat: no-repeat;
}
div.bottom
{
position: absolute;
bottom: 118px;
left: 0px;
width: 1000px;
height: 344px;
background-image: url('/layout/bottom.jpg');
}
div.menu
{
position: absolute; 
width: 1000px; 
top: 218px; 
left: 0px; 
/*height: 14px;*/
background-color: #414141;
/*border-style:solid;
border-width:1px;*/
z-i	ndex:90;
}
div.search
{
position: absolute;
top: 5px; 
right: 5px; 
width: 315px; 
height: 30px;
/*background-color: gray;
border-style:solid;
border-color:red;
border-width:1px;*/
}

div.fb-button
{
position: absolute;
width: 160px;
top: 583px;
left: 58px;
/*background-color: black;*/
}
div.fb-like
{
position: absolute;
height: 30px;
width: 160px;
top: 643px;
left: 72px;
/*background-color: black;*/
}
div.poll
{
position: absolute;
top: 673px;
left: 10px;
width: 259px;
height: 367px;
p.text-align: center;
/*background-color:gray;
border-style:solid;
border-color:red;
border-width:1px;*/
}
div.donate
{
position: absolute;
top: 1132px;
left: 10px;
width: 259px;
height: 367px;
/*background-color:gray;
border-style:solid;
border-color:red;
border-width:1px;*/
}
div.accordion
{
position: absolute;
top: 262px;
left: 15px;
height: 300px;
width: 970px;
/*background-color: black;*/
}
div.contenthome
{
position: absolute;
top: 577px;
width: 684px;
left: 282px;
height: 800px;
line-height: 140%
/*border-style:solid;
border-width:1px;*/
}
div.sitemeter
{
position: absolute;
bottom: 130px;
left: 8px;
width: 88px;
height: 32px;
/*border-style: solid;
border-width: 1px;*/
}