html, body, div, span, applet, object, iframe,
/*h1, h2, h3, h4, h5, h6, p,*/ blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, /*ol, ul, li,*/
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	
	
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 100%;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body
{
background-color: #3B5F7B;
/*background-image: url('http://bettacare101.com/layout/background3.png');
background-repeat: no-repeat;
background-position: 50% top;
background-attachment: scroll;*/
}
div.main
{
font-family: arial,sans-serif;
font-size: 90%;
}
h1 
{
font-size:1.8em
}
h2
{
font-size:1.6em
}
h3
{
font-size:1.4em
}
h4
{
font-size:1.2em
}
h5
{
font-size:1em
}
h6
{
font-size:.8em
}
p
{
font-size:1em
}
li
{
font-size:1em
}
div.menu
{
position: absolute; 
width: 1000px; 
top: 218px; 
left: 0px; 
/*height: 14px;*/
background-color: #414141;
/*border-style:solid;
border-width:1px;*/
z-index:90;
}

div.main
{
position: relative;
/*left: 50%;*/
margin: 33px auto 0;
/*margin-left: auto;
margin-right: auto;
margin-top: 33px; */
width: 1000px; 
height: 2000px;
padding: 0px;
/*background-color: gray;
border-style:solid;
border-color:red;
border-width:1px;*/
}
div.blackborder
{
position: absolute;
left: -10px;
margin-top: -8px;
width: 1000px; 
height: 1880px;
padding: 0px;
border-style:solid;
border-color:black;
border-width:10px;
pointer-events:none; 
z-index: 91;
}
div.whitebackground
{
position: absolute;
left: 0px;
top: 2px;
width: 1000px; 
height: 1880px;
padding: 0px;
background-color: white;
}
div.banner
{
position: absolute;
top: 0px;
left: 0px;
width: 1000px;
height: 250px;
background-image: url('/layout/banner2.jpg');
background-repeat: no-repeat;
}
div.bottom
{
position: absolute;
bottom: 118px;
left: 0px;
width: 1000px;
height: 344px;
background-image: url('/layout/bottom.jpg');
}
div.search
{
position: absolute;
top: 5px; 
right: 5px; 
width: 290px; 
height: 30px;
/*background-color: gray;
border-style:solid;
border-color:red;
border-width:1px;*/
float: right;
}
div.adtop
{
position: absolute;
top: 263px; 
left: 15px;
width: 970px; 
height: 100px;
/*background-color:gray;
border-style:solid;
border-color:red;
border-width:1px;*/
}
div.sidead
{
position: absolute; 
top: 382px; 
left: 15px; 
width: 160px;
height: 600px;
border-style:solid;
border-width:0px;
}
div.sidead2
{
position: absolute; 
top: 692px; 
right: 15px; 
width: 160px;
height: 600px;
border-style:solid;
border-width:0px;
}
div.sidelink
{
position: absolute; 
top: 382px; 
right: 15px; 
width: 160px;
height: 360px;
border-style:solid;
border-width:0px;
}
div.content
{
position: absolute; 
top: 362px; 
left: 210px; 
width: 590px; /*590*/
height: 1200px;
line-height: 140%;
/*border-style:solid;
border-width: 1px;*/
}
div.sitemeter
{
position: absolute;
bottom: 125px;
left: 8px;
width: 88px;
height: 32px;
/*border-style: solid;
border-width: 1px;*/
}